@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --primary-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

input {
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 10vw;
  height: 20vw;
}

.container {
  position: relative;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.header .flex {
  justify-content: space-between;
  flex-direction: row;
}

.cards .flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.card .container {
  padding: 0;
}

.card .container h1 {
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

/* Utilities */

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 1.5rem;
}
.my-3 {
  margin: 2rem;
}

.py-1-2 {
  padding: 0.5rem;
}

.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 1.5rem;
}
.py-3 {
  padding: 2rem;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 15vw;
  cursor: pointer;
  height: 30vw;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-between {
  justify-content: space-evenly;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Mobile Friendly */
@media screen and (max-width: 550px) {
  .cards .container .my-1 {
    margin: 5px;
  }

  .container {
    padding: 5px;
  }
}
